@font-face {
  font-family: 'cowboy';
  src: url('./fontes/Cowboy Movie.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: #ddd3b4;
}

#Nome {
    font-family: "cowboy";
    font-size: 50px;
}
#perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#destaque {
    display: flex;
    gap: 20px;
}